/results
scenarios/
data/demand/
pre_process_AMPL_to_Pyomo_scenario_data/AMPL format scenario data/
pre_process_AMPL_to_Pyomo_scenario_data/Python format scenario data/
/.venv
/codes/__pycache__/
/codes/models/__pycache__
/data/demand/demand_h2

/data/demand_profiles